@media only screen and (min-width: 889px) {
    .header-responsive{
        display: none;
    }
    .header{
        display: block;
    }
}
@media only screen and (max-width: 888px) {
    .header-responsive{
        display: block;
    }
    .header{
        display: none;
    }
}

